
.question{
    color:rgb(57, 57, 57);
    font-size: 20px;
    padding:1vw;
    font-weight: bold;
    background-color: rgb(227, 212, 170);
    margin: 0px 5px 5px 5px;
}

.question .answer{
    display:none;
}

.answer{
    display:none;
    color:black;
    font-weight:bold;
    font-style: italic;
    line-height: 30px;
    margin-left: 17px;
}
.question::before{
    content:"> ";
}
.question:hover, .accordion.active .question{
    cursor:pointer;
    color:white;
    background-color: rgb(34, 34, 34);
    transition: 0.33s;
}

.accordion.active .answer{
    display:flex;
    flex-direction: row;
    padding:1vw;
    font-size: 20px;
    text-align: left;
    color:black;
}

.accordion.active .question::before{
    content:"˅ "
}